/*------------
    RESET
--------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------
    DEBUG
--------------*/

/*------------
    TYPOGRAPHY
--------------*/
body {
    font-family: 'Roboto', sans-serif;
}

/*------------
    COMMON
--------------*/

/*------------
    HEADER
--------------*/

/*------------
    MAIN
--------------*/

/*------------
    FOOTER
--------------*/